<form [formGroup]="uploadForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
  <div>
    <label>שם השיר:</label>
    <input formControlName="name" />
  </div>

  <div>
    <label>סגנון מוזיקלי:</label>
    <input formControlName="musicStyle" />
  </div>

  <div>
    <label>אורך שיר (בשניות):</label>
    <input type="number" formControlName="songLength" />
    <span *ngIf="uploadForm.get('songLength')?.value">
      ({{ formatSongLength(uploadForm.get('songLength')?.value) }})
    </span>
  </div>

  <div>
    <label>תאריך יציאה:</label>
    <input type="date" formControlName="releaseDate" />
  </div>

  <div>
    <label>קובץ שיר:</label>
    <input type="file" accept=".mp3, .wav" (change)="onFileChange($event)" />
  </div>

  <div>
    <label>ID יוצר:</label>
    <input type="number" formControlName="creatorId" />
  </div>

  <button type="submit" [disabled]="isSubmitting">
    <span *ngIf="!isSubmitting">העלה שיר</span>
    <span *ngIf="isSubmitting" class="spinner"></span>
  </button>
</form>
