.canvas-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1; /* מתחת לכל התוכן */
    pointer-events: none; /* שהקאנבס לא יפריע ללחיצות על התוכן */
    pointer-events: none; /* כדי ש- clicks יעברו מעליה */

  }
  