html, body, #root {
    height: 100%;
    margin: 0;
    overflow: hidden; /* אם אתה לא רוצה גלילה */
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0; /* ודא שהקנבס מאחורי שאר האלמנטים */
}
.canvas-background {
    position: fixed; /* מיקום קבוע כך שהרקע לא יזוז בגלילה */
    top: 0; /* מתחיל מהחלק העליון */
    left: 0; /* מתחיל מהחלק השמאלי */
    width: 100vw; /* רוחב מלא של חלון הדפדפן */
    height: 100vh; /* גובה מלא של חלון הדפדפן */
    z-index: -1; /* נמוך יותר מכל אלמנט אחר */
    pointer-events: none; /* לא להגיב לאירועים */
  }
  /* עיצוב כללי ללוגין */
.login-container {
    background-color: rgba(20, 20, 20, 0.8); /* רקע כהה עם שקיפות */
    border-radius: 10px; /* פינות מעוגלות */
    padding: 20px; /* רווח פנימי */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5); /* צל */
    max-width: 400px; /* רוחב מקסימלי */
    margin: auto; /* מרכז את הקונטיינר */
    color: white; /* צבע טקסט */
}

.login-form {
    display: flex; /* תצוגה גמישה */
    flex-direction: column; /* פריסה בעמודה */
}

.login-form input {
    margin-bottom: 15px; /* רווח בין השדות */
    padding: 10px; /* רווח פנימי */
    border: none; /* ללא גבול */
    border-radius: 5px; /* פינות מעוגלות */
    background-color: rgba(255, 255, 255, 0.1); /* רקע בהיר עם שקיפות */
    color: white; /* צבע טקסט */
    font-size: 16px; /* גודל טקסט */
}

.login-buttons {
    display: flex; /* תצוגה גמישה */
    justify-content: space-between; /* רווח בין הכפתורים */
}

.header-button {
    background-color: transparent; /* רקע שקוף */
    color: white; /* צבע טקסט */
    border: none; /* ללא גבול */
    cursor: pointer; /* מצביע על לחיצה */
    font-size: 14px; /* גודל טקסט */
}

button[type="submit"] {
    background-color: #ff4081; /* צבע רקע */
    color: white; /* צבע טקסט */
    border: none; /* ללא גבול */
    border-radius: 5px; /* פינות מעוגלות */
    padding: 10px; /* רווח פנימי */
    cursor: pointer; /* מצביע על לחיצה */
    font-size: 16px; /* גודל טקסט */
}

.message {
    margin-bottom: 15px; /* רווח בין ההודעה לשדות */
    color: #ff4081; /* צבע טקסט של הודעות */
}
