html, body, #root {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Arial', sans-serif;
  color: white;
  direction: rtl;

  overflow-y: scroll;         /* מאפשר גלילה אנכית כשצריך */
  scrollbar-width: none;      /* מסתיר את סרגל הגלילה ב-Firefox */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar,
#root::-webkit-scrollbar {
  display: none; /* מסתיר את סרגל הגלילה בדפדפני Chromium */
}

/* שאר ה-CSS שלך נשאר כפי שהוא */




label {
  display: block;
  text-align: right;
  margin-bottom: 5px;
  color: white;
}



.canvas-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  pointer-events: none;
}

.home-title {
  z-index: 5;
  color: white;
  direction: rtl;
  text-align: center;
  display: flex;
  justify-content: center;
}

:root {
  --primary: hsl(210, 100%, 50%);
  --primary-foreground: hsl(0, 0%, 100%);
  --border: hsl(210, 10%, 50%);
  --input: hsl(210, 10%, 90%);
  --ring: hsl(210, 10%, 70%);
  --background: hsl(210, 10%, 95%);
  --foreground: hsl(210, 10%, 20%);
  --purple-400: #c084fc;
  --purple-500: #a855f7;
  --purple-600: #9333ea;
  --purple-700: #7e22ce;
  --pink-400: #f472b6;
  --pink-500: #ec4899;
  --pink-600: #db2777;
  --pink-700: #be185d;
}
